<h1 class="has-text-weight-medium is-size-3 mb-2">Тест: <%= @test.name %></h1>
<% @json_date["questions"].each_with_index do |question, index| %>
  <% shuffled_options = question["options"].shuffle %>
  <div class="box mb-4">
    <p class="subtitle is-size-6">Вопрос номер <%= index + 1 %></p>
    <h2 class="is-size-4 mb-2"><%= question["question_content"] %></h2>
    <ul class="menu-list">
      <% shuffled_options.each do |option| %>
        <li>
          <label class="radio py-2 is-size-5">
            <input type="radio" name="<%= index.to_i %>" value="<%= option["option_content"] %>">
            <%= option["option_content"] %>
          </label>
          <% if option["is_correct"] == true %>
            <%# <span class="tag is-success is-light">Правильный</span> %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="buttons is-centered">
  <button class="button" id="finish-test-button">Отравить</button>
</div>
<script>
  var testData = <%= @json_date.to_json.html_safe %>;
</script>