<div class="columns">
  <div class="column box">
    <div class="column has-text-centered">
      <h2 class="title">Вход</h2>
    </div>
    <%= form_with(url: login_path) do |form| %>
      <div class="field">
        <%= form.label "Email почта", class: 'is-size-4' %>
        <div class="control">
          <%= form.text_field :email, class: 'input' %>
        </div>
      </div>
      <div class="field">
        <%= form.label "Пароль", class: 'is-size-4' %>
        <div class="control">
          <%= form.password_field :password, class: 'input' %>
        </div>
      </div>
      <div class="field is-flex is-justify-content-flex-end is-align-items-center my-4">
        <div class="control">
          <label class="checkbox">
            <span class="mr-2 has-text-weight-medium is-size-4">Запомнить меня</span>
            <%= form.check_box :remember_me, class: 'is-large' %>
          </label>
        </div>
      </div>
      <div class="field ">
        <div class="control">
          <%= form.submit 'Войти', class: 'button has-text-accent-color is-fullwidth is-size-4' %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="has-text-centered mt-4">
    или 
    <%= link_to "Регистрация", signup_path, class: 'label is-size-5 is-text-link' %>
  </div>
</div>
