<div class="columns">
  <div class="column has-text-centered">
    <h2 class="has-text-weight-medium is-size-4 mb-4"><%= full_name(current_user) %></h2>
    <%# <p class="has-text-centered has-text-weight-medium has-text-grey-light">Ваша учетная запись не активирована</p> %>
    <% avatar = current_user.avatar.present? ? current_user.avatar.url : "/default_avatar.png" %>
    <figure class="image is-128x128 is-inline-block mb-3" >
      <%= image_tag avatar, alt: "Аватар пользователя", class: "image is-rounded", style: "width: 128px; height: 128px;" %>
    </figure>
    <div class="is-flex is-flex-direction-column is-justify-content-center is-align-items-center mt-4">
      <%= link_to "Редактировать профиль", profile_edit_path(current_user.id), class: "button is-primary mb-3" %>
      <%= link_to "Результаты", answers_path, class: "button is-info mb-3" %>
      <%= button_to 'Выйти', logout_path, method: :delete, class: "button is-danger" %>
    </div>
  </div>
</div>