<div class="container is-fluid">
  <h2 class="title"><%= @test.name %></h2>
  <div class="mt-5">
    <% @answers.each do | answer | %>
      <div class="box mb-4">
        <h2 class="title is-4"><%= answer["type"] %></h2>
        <p class="subtitle">Правильных ответов: <%= answer["total"] %></p>
        <p class="subtitle"></p>
      </div>
    <% end %>
    <div class="box mb-4">
      <h2 class="title is-4">Итоги</h2>
      <p class="subtitle">Правильных ответов: <%= @total_true_answers %></p>
      <p class="subtitle">Оценка: <%= @total_score %></p>
      <% case @letter_score %>
        <% when "A" %>
          <p class="subtitle has-text-primary">A</p>  
        <% when "B" %>
          <p class="subtitle has-text-success">B</p>  
        <% when "C" %>
          <p class="subtitle has-text-warning">C</p>
        <% when "D" %>
          <p class="subtitle has-text-danger">D</p>
        <% when "E" %>
          <p class="subtitle has-text-danger">E</p>
      <% end %>
    </div>
  </div>
</div>
